<nav style="background-color: black;" class="navbar navbar-expand-sm ">
        <!-- <div class="container1"> -->
            <!-- <a style="color: gray;" class="navbar-brand background">Travel Guide!!!!</a> -->
            <div class="logo">
                    <!--<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Travel Explorer</div>-->
                    <div ><img style="width: 120px;" src="../../assets/Travel_Explorer.PNG" alt=""></div>
                    <!-- <div style="font-size:10px">Make memories around the world</div> -->
                </div>
                &nbsp;&nbsp;
            <!-- <div class="container"> -->
            <ul class="navbar-nav fontcolor">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/home-page">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#">Link 2</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link 3</a>
                    </li> -->
                  </ul>
        <!-- </div> -->
    </nav>
  
